@import 'bootstrap.custom';

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500);

@mixin transitions($duration){
	-webkit-transition: all $duration ease-in-out;
	-moz-transition: all $duration ease-in-out;
	-ms-transition: all $duration ease-in-out;
	-o-transition: all $duration ease-in-out;
	transition: all $duration ease-in-out;
}

@mixin transform($transform){
	-webkit-transform: $transform;
	-moz-transform: $transform;
	-ms-transform: $transform;
	transform: $transform;
}
@mixin filter($filter){
	-webkit-filter: $filter;
	-moz-filter: $filter;
	-ms-filter: $filter;
	filter: $filter;
}

@mixin animation($name, $time, $timing_function, $delay, $iteration, $direction, $fill-mode){
	-webkit-animation: $name $time $timing_function $delay $iteration $direction;
	-webkit-animation-fill-mode: $fill-mode;
	-moz-animation: $name $time $timing_function $delay $iteration $direction;
	-moz-animation-fill-mode: $fill-mode;
	-ms-animation: $name $time $timing_function $delay $iteration $direction;
	-ms-animation-fill-mode: $fill-mode;
	-o-animation: $name $time $timing_function $delay $iteration $direction;
	-o-animation-fill-mode: $fill-mode;
	animation: $name $time $timing_function $delay $iteration $direction;
	animation-fill-mode: $fill-mode;
}

@mixin keyframe ($animation_name) {
    @-webkit-keyframes $animation_name {
        @content;
    }
 
    @-moz-keyframes $animation_name {
        @content;
    }
 
    @-o-keyframes $animation_name {
        @content;
    }
 
    @keyframes $animation_name {
        @content;
    }
}

body, html{
	font-family: 'Roboto', sans-serif;
	
	margin:0;
	padding:0;
}

h1, h2, h3, h4, h5, h6{
	margin:0;
}
h1, h2, h3{
	text-transform: uppercase;
}

body > header{
	width: 100%;
	height: 300px;
	background-image: url("../img/bg.jpg");
	background-repeat: repeat;
	
	position: relative;

	z-index: 1;
	
	div.container{
		position: relative;
		
		height:300px;
		display: block;
		
		div.nav{
			position: absolute;
			left:15px;
			right:15px;
			bottom:230px;
			
			vertical-align: bottom;
			
			h1{
				margin:0;
				
				font-size: 50px;
				font-weight:100;
				color:#fff;
				
				display: inline-block;
			}
			
			nav{
				position: absolute;
				right: 0;
				bottom: 0;
				
				ul{
					list-style: none;
					margin: 0;
					
					li{
						display: inline;
						margin-left: 10px;
						
						a{
							font-size: 16px;
							font-weight: 100;
							text-decoration: none;
							text-transform: uppercase;
							color:#fff;
						}
					}
				}
			}
		}
		
	}
}

body > main{
	margin-top: -200px;
	
	position: relative;
	
	z-index: 2;
}

body > footer{
	
}

.shadow{
	box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.35);
}

.content{
	background-color: #fff;
	min-height: 300px;
	
	padding:10px;
	
	@extend .shadow;
}

.row{
	margin: 0;
}

/* Widgets */

/* Widget container */
.widgets{
	width: 101%;
	margin-left:-1%;
}
/* general */
.widget{	
	background-color: white;
	margin-bottom: 1%;
	
	@extend .shadow;
}
/* content */
.widget{
	.content{
		position:  absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;	
	}
}

/* widget width */

.widget::before{
	content: "";
	display: block;
	padding-top: 100%;
}

.wX2{
	@extend .col-md-6;
	width: 49%;
	margin-left: 1%;
}
.wX1{
	@extend .col-md-3;
	width: 24%;
	margin-left: 1%;
}
.wX3{
	@extend .col-md-9;
	width: 74%;
	margin-left: 1%;
}
.wX4{
	@extend .col-md-12;
	width: 99%;
	margin-left: 1%;
}

/* widget aspecet ratio */

.wY2::before{
	content: "";
	display: block;
	padding-top: 200%;
}

.wY1-5::before{
	content: "";
	display: block;
	padding-top: 148%;
}

.wY0-75::before{
	content: "";
	display: block;
	padding-top: 75%;
}

.wY0-5::before{
	content: "";
	display: block;
	padding-top: 50%;
}