<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /
	
	RewriteCond %{REQUEST_FILENAME} !-f
	
	RewriteRule ^([[a-zA-Z0-9\-=&_@\.]+)$ page.php?permalink=$1
	RewriteRule ^([a-zA-Z0-9\-=&_@\.]+)/$ page.php?permalink=$1
	
</IfModule>